footer{
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #FFffff ;
    width: 90%;
    padding: 10px 0 10px 0;
    font: normal normal normal 150% Helvetica Neue;
    text-align: left;
    bottom: 0;
    display: inline-block;

}


.footer p {
    font-size: 90%;

}
.contactInfo{
    display: inline-block;

}
.facebook-footer{
    margin-left:66vw;

    display: inline-block;
    width: 50px;
}