.nav {
    /*position: fixed;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.logo{
    font-weight: bold;
    margin: 5px 10px 5px 10px;
}

.nav a {
    height: 100%;
    /*margin: 8px 10px 0 10px;*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #A6431F;
}
.nav a:active {color: #D9631E;}
.nav a:hover  {color: #D9631E;}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}